/**** sub-common ****/
/* * { transition: 0.2s } */
.popup {position: fixed;left: 0;top: 0;z-index:99999;    width: 100vw;height: 100vh;background-color: #00000090;
display: none;
}
.popup .close {
  position: absolute;
  right: 5vw;
  top: 5vw;
  width: 30px;
  height: 30px;
  font-size: 0;
  z-index: 1;
}
.popup .close:after {
  transform: rotate(-45deg);
}
.popup .close:before {
  transform: rotate(45deg);
}
.popup .close:before, .popup .close:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}
.popupwrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popcont {
  position: relative;
  width: 70%;
  height: 70%;
  overflow: hidden;
}
.subtitwrap h3{ 
  font-family: 'Nanum Myeongjo', serif; font-weight: 700;font-size: 1.2rem; }
.subtitwrap h4 {
  font-family: "HarlowDuoSerif-regular";font-weight: 400;font-size: 5.75rem; 
}
.subtitwrap h4 span { 
  font-family: 'Nanum Myeongjo', serif; font-weight: 400;font-size: 4.7rem;  }

/*  lnb */
.maintop { height: 450px; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.maintop .wpc { height: 100%;color: #ffffff; }
.lnbtit { width: 100%; height: calc(100%  - 80px);padding-top: 140px;font-size: 1.25rem; }
.lnb { width: 100%;border-top: 1px solid #ffffff20;color: #e2e2e2; font-size: 0.8rem; }
.lnb ul{ display: flex;justify-content: center;align-items: center; gap: max(20px,3%);height: 80px;white-space: pre; }
.lnb .on { color: #ffffff;}
.lnb.no { opacity: 0; } /* lnb 사용안할 경우 */

.top_sub1 { background-image: url(../img/sub1/sub1_top.jpg); }
.top_sub2 { background-image: url(../img/sub2/sub2_top.jpg); }
.top_sub3 { background-image: url(../img/sub3/sub3_top.jpg); }
.top_sub4 { background-image: url(../img/sub4/sub4_top.jpg); }
.top_sub5 { background-image: url(../img/sub5/sub5_top.jpg); }
.top_sub6 { background-image: url(../img/sub6/sub6_top.jpg); }
.top_sub7 { background-image: url(../img/sub7_top.jpg); }
.top_sub8 { background-image: url(../img/sub8_top.jpg); }


/**** sub1 ****/
.philo_area {
  margin-bottom: var(--conpadding);
  background: url(../img/sub1/sub1_1_back01.jpg) center center / cover;
  color: #ffffff; }
.philo_area .leftbox {  padding: 130px 0 130px 180px; }
.philo_area .subtitwrap { margin-bottom: 20px; }
.philo_area h3 { margin-bottom: 0.5em;}
.philo_area h4 {color: #ffffff;margin-bottom:0.3em }
.philo_area .imgwrap {
  width:100%;max-width:480px; height: 100%;padding-bottom: 0;
}
.repect { padding-bottom: var(--conpadding); }
.repect .left {
  height: 100vh;
  padding:120px 90px;
  background: url(../img/sub1/sub1_1_img02.jpg) center center / cover;color: #d2bebe; }
.repect h4 { color: #fff; }
.repect .linetxt { 
  padding-bottom: 20px;margin-bottom: max(5vw,30px);
  border-bottom: 1px solid #ffffff;
  font-family: 'Nanum Myeongjo', serif; font-weight: 400;font-size:1rem;}
.repect .subtitwrap { text-align: right;}
.repect .right { text-align: center; }
.repect .right .titwrap { margin-bottom: max(5vw, 30px) }
.repect .right .titback { 
  position: relative;z-index: -1;padding-top: 1em;
  font-family: "HarlowDuoScript-Regular";font-weight: 400;font-size: 7.5rem;line-height: 0.3em;color: #2f847610;
 }
 .repect .right .tit { margin-bottom: 20px; font-family: "HarlowDuoSerif-regular";font-weight: 400;font-size: 5rem; color: var(--subcolor_g) }
 .repect .right .subtit { font-family: 'Nanum Myeongjo', serif; font-weight: 400;font-size: 1.4rem;color: var(--subcolor) }
 .repect .right .txt { font-size:1rem;line-height: 1.3em; }
 .repect .right .slider { transform: translateY(-100px); }
 
 .sub1_1 .con3 {
  position: relative;
  height: 70vh;  background: url(../img/sub1/sub1_1_img03.jpg) center center / cover;}
.sub1_1 .con3 .left { 
  padding-left: 10vw;
  color: #ffffff; }
.sub1_1 .con3 .animated-title { position: absolute; }

.sub1_2 .con1 .content{ 
  background: url(../img/sub1/sub1_2_img01.jpg) no-repeat center center / cover;
 }
 .sub1_2 .con1 .content .wpc { height: 100%; }
 .sub1_2 .con1 .leftbox { 
  height: 100%; min-height: 1200px;padding-left: 7% }
.sub1_2 .con1 .content .subtitwrap { flex: 0 0 160px; }
.sub1_2 .con1 .content .subtitwrap p { 
  display: flex;justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;
  text-align: right;
  font-family: "Pretendard-Light";
  font-size: 1.1rem;
}
.sub1_2 .con1 .content .subtitwrap p.smtxt { margin-top: 20px;font-size: 1.2rem; }
.sub1_2 .con1 .content .subtitwrap p.txt { font-size: 2.5rem; }
.sub1_2 .con1 .rightbox { text-align: center;color: var(--subcolor) }
.sub1_2 .con1 .rightbox > div { width: 100%; }
.sub1_2 .con1 .rightbox .tit { width: 100%;font-size: 1.2rem; margin-top: 20px; margin-bottom: 50px}
.sub1_2 .con1 .rightbox .mid { margin-bottom:50px; }
.sub1_2 .con1 .rightbox .mid > div { flex: 0 0 33.333%;}
.sub1_2 .con1 .rightbox .mid .circlewrap {font-size:clamp(0.9rem ,3vw, 25px);transform: scale(1.1); }
.sub1_2 .con1 .rightbox .bot { margin-bottom:30px;font-size:0.7rem;color: var(--font);letter-spacing: -1px;line-height: 1.7em; }
.sub1_2 .con1 .rightbox .bot .content_in > div { margin-bottom:20px; }
.sub1_2 .certif > div { max-height: 200px }

.volunteer .left { padding: var(--normalmargin);padding-right:clamp(20px,10vw,200px); gap: 20px; }
.volunteer .left ._img1 { width:100%;padding-bottom: 75%; }
.volunteer .left ._img2 { width: calc((100% - 20px)/2); padding-bottom: 65%; }
.volunteer h4 { margin-bottom: 1em; }
.volunteer .right .txt20 { font-weight: 700;color: var(--subcolor);margin-bottom:30px; }
.volunteer .right .foottxt p { position:relative;margin-bottom: 10px;padding-left: 30px; }
.volunteer .right .foottxt p::before {
  content: "";
  display:block;width: 17px; height: 22px;
  position: absolute;top:0;left:0;
  background: url(../img/common/icon_map.png) no-repeat center center / cover;
}
.volunteer { font-size: 0.8rem; }

.academic, .academic h4 { color: #fff; text-align: center; }
.academic .keyword { gap: 10px;max-width:840px;margin: auto;}

.thesis .flex { gap: 100px; }
.thesis .left { flex: 1 1 16rem; }
.thesis .right { position: relative;width: 100%;height: 240px;overflow: hidden;}
.thesis .right::after { 
  content: "";display: block; width:10%;height:100%;
  position: absolute;right:0;top:0;
  background: linear-gradient(to right,  rgba(248,249,251,0) 0%,rgba(248,249,251,1) 46%,rgba(248,249,251,1) 100%); 
 }

.sub1_2 .con5 .content { background: url(../img/sub1/sub1_2_img04_1.jpg) no-repeat center center /cover; }
.sub1_2 .con5 .content h4 { color: #ffffff; }
.sub1_2 .con5 .content_in { gap:20px;width: 100%;max-width: 530px;}
.sub1_2 .con5 .content_in .imgwrap {padding-bottom: 56%;}

.sub1_3 .content {
  background: url(../img/sub1/sub1_3_img01.jpg) no-repeat center center / cover;
}
.sub1_3 h3 { font-size:1.75rem;color: var(--primary2); }
.sub1_3 .txtbot >  div { margin:10px 4%;display: flex;flex-wrap: wrap;align-items: center; }
.sub1_3 .txtbot .telnumber { font-size: 1.5rem;line-height: 1.5rem;}
.sub1_3 .txtbot .tit {display: inline-block; margin-right: 30px;}
.sub1_3 .con2{  }
.sub1_3 .left { width: 45%;padding-left: calc(50% - 800px) }
.sub1_3 .right { width: 50%;padding-right: calc(50% - 800px);background: url(../img/sub1/sub1_3_img02.jpg) no-repeat right  center / cover  }

.sub1_3 .con2 dl {font-size: 0.9rem;}
.sub1_3 .con2 dt { width: 170px;margin-bottom:10px;color:var(--primary2);letter-spacing: -1px;}
.sub1_3 .con2 dd { width: calc(100% - 170px);margin-bottom:10px;}
.sub1_3 .con2 dd p { margin-bottom: 5px; }
.sub1_3 .map_area {background-color: #cccccc90; width: 120%;min-height: 300px;float:right; }


.time_tb { width: 100%;max-width: 1200px;margin-left:auto;margin-right:auto;background-color: #fff;}
.time_tb th, .time_tb td { padding: 1em; border:1px solid #cccccc;text-align: center;font-size:1rem;font-weight: normal;}
.time_tb thead { background-color: #c4b1da;color: #fff;  }
.time_tb thead th{ font-family: "Pretendard-Bold"; }
.time_tb tbody {
  font-family: 'Lato', sans-serif; font-weight:300;
}
.time_tb tbody th, .time_tb thead .bodyth { background-color: var(--subcolor_g2);color: #ffffff;font-weight: normal;   }
.pursquare_solid { margin-top: 5px; }


/**** sub2 ****/
.sub2_1 .slider .txt { font-family: "HarlowDuoSerif-regular";font-size:clamp( 25px, 5.6vw ,4.5rem); }

.sub2_1 .con1 .content { padding-right: calc( (100% - 1600px) / 2 + 20px)}
.sub2_1 .con1 .slider .txt { position: absolute; bottom: 50px;right: 50px;color: #fff; }
.sub2_1 .con1 .slideeach { height: min(130vw, 100vh) }
.sub2_1 .con2 .flex { gap: 50px}
.sub2_1 .con2 .img1 { width:50%; max-width:380px; transform: translateY(calc((50px + 10%)*(-1)));} 
.sub2_1 .con2 .img2 { width:100%; transform: translateY(15%); } 

.sub2_1 .slick-arrow { background-color: transparent; }
.sub2_1 .slick-dots span {margin: 0 10px;}

.sub2_1 .con1 .slick-arrow { bottom:170px;border-color: #ffffff; }
.sub2_1 .con1 .slick-arrow.slick-prev::after{ background-image: url(../img/common/arr_mid_prev_w.png); }
.sub2_1 .con1 .slick-arrow.slick-next::after{ background-image: url(../img/common/arr_mid_next_w.png); }
.sub2_1 .con1 .slick-arrow.slick-prev {right: 220px;}
.sub2_1 .con1 .slick-arrow.slick-next {right: 50px;}
.sub2_1 .con1 .slick-dots {right: 110px; bottom:175px;color: #fff}

.sub2_1 .con3 { background: url(../img/sub2/sub2_1_img04_back.jpg) center center / cover;padding-top: 150px; }
.sub2_1 .con3 .slick-arrow { bottom: calc(7% - 5px);border-color: #000; }
.sub2_1 .con3 .slick-arrow.slick-prev::after{ background-image: url(../img/common/arr_mid_prev_bk.png); }
.sub2_1 .con3 .slick-arrow.slick-next::after{ background-image: url(../img/common/arr_mid_next_bk.png); }
.sub2_1 .con3 .slick-arrow.slick-prev {right: 180px;}
.sub2_1 .con3 .slick-arrow.slick-next {right: 0px;}
.sub2_1 .con3 .slick-dots { right: 70px; bottom: 7%;color: #000}
.sub2_1 .con3 .slider .txt {  padding: 0.3em 0 }
.sub2_1 .con4 .col { position: relative; }
.sub2_1 .con4 .col .imgwrap { padding-bottom: 64%; }
.sub2_1 .con4 .col .txt { position: absolute; left: 40px; bottom: 30px;font-family: "Pretendard-Light";font-size: 1rem;color: #fff;}

.titwrap h3 { font-size: max(1.4rem,1.7vw);font-weight: 700;line-height: 1.5em;}

.sub2_2 .con1 .in { position: relative; }
.sub2_2 .con1 .imgbox1.imgwrap { padding-bottom: max(56%,50vh);}
.sub2_2 .con1 .mark { 
  position: absolute;top: 40px; left: 40px;
  width: max(26%, 240px) }
.sub2_2 .con1 .txt { letter-spacing: -1px; }
.sub2_2 .con2 .col{  position: relative; }
.sub2_2 .con2 .imgwrap { padding-bottom: max(65%, 300px); }
.sub2_2 .con2 .col:after {content:"";display: block;position: absolute;width:100%;height: 100%;top:0;left:0;background-color: #00000080;z-index:1}
.sub2_2 .con2 .txtwrap { position: absolute;width:100%;height: 200px;
  padding:0 10px;
  bottom:0;left:0;color: #fff;text-align: center;letter-spacing:-2px;z-index:2; }
.sub2_2 .con2 .txtwrap h3 { margin-bottom: 30px;font-size:1.5rem; }
.sub2_2 .con3 { background-color: var(--background); padding: 100px 0}
.sub2_2 .gallerywide {position: relative;z-index: 1;}
.sub2_2 .gallerywide .imgwrap { padding-bottom: max(30%,200px) }
.sub2_2 .gallerywide .col { position: relative;margin-bottom: 40px;}
.sub2_2 .gallerywide .txtwrap { 
  position: absolute;bottom: 40px; right: 40px;
  width: 100%; max-width: 700px;min-height: 110px;
  background-color: #fff; border: 1px solid #cccccc;
}
.sub2_2 .gallerywide .txtwrap .tit { 
  flex: 0 0 120px;
  border-right: 1px solid #cccccc;
  text-align: center;font-family: 'Lato', sans-serif; font-weight:300;font-style: italic; }
.sub2_2 .gallerywide .txtwrap p { width: 100%;}
.sub2_2 .gallerywide .txtwrap .txt { padding: 40px;font-size: 0.9rem;letter-spacing: -1px;}
.rollingwrap {height:4rem}
.sub2_2 .rollingcustom { position: relative; color: #fff;}
.sub2_2 .rollingcustom .track { height: 100%; }

/* .sub2_3 { padding-bottom: var(--conpadding);  } */
.sub2_3 .gallerywide .imgwrap { padding-bottom: max(50%,200px) }
.sub2_3 .gallerywide .col { position: relative;margin-bottom: 100px;}
.sub2_3 .gallerywide .mark { border: 1px solid #fff }
.sub2_3 .gallerywide .txtwrap { 
  position: absolute;bottom: 0px; left: 5%;
  width: 90%; min-height: 150px;
  background-color: #fff; 
  text-align: center; padding: 50px 0 10px;
}
.sub2_3 .gallerywide .txtwrap .tit { width: 100%; margin-bottom: 30px; }
.sub2_3 .gallerywide .txtwrap .txt { width: 100%;font-size: 0.9rem;letter-spacing: -1px;}


/**** sub3 ****/
.sub3_1 .semiwidegallery { position: relative; }
.sub3_1 .semiwidegallery .imgwrap { width: 85%; max-width: 1400px; padding-bottom: max(40%,400px) }
.sub3_1 .semiwidegallery  .txtwrap { 
  position: absolute;bottom:0;right: 0;
  width: 35%;max-width: 700px;padding: 5% 5% 2%;
  background-color: #ffffff;
}
.sub3_1 .con2 {
  height: max(100vh,600px);padding-left: calc((100% - 1600px) / 2);padding-top: 7vw;
  background: url(../img/sub3/sub3_1_img02_1.jpg) no-repeat center center /cover;}
.sub3_1 .con2 .leftbox { width:100%;max-width: 700px;margin-left: 20px }
.sub3_1 .con2 .leftbox .normal { display: block;font-weight: 400;line-height: 1.5em; }
.sub3_1 .con2 .leftbox strong { color: var(--subcolor_g);text-decoration: underline;text-underline-offset: 7px; }
.sub3_1 .con2 .leftbox .titwrap { margin-bottom: 2em; }
.sub3_1 .con2 .leftbox .txtwrap {  margin-bottom: 4em; line-height: 1.5em; }
.sub3_1 .con2 .leftbox .txtwrap .subcolor_g { font-family: "Pretendard-SemiBold";}

.sub3_2 .semiwidegallery { position: relative; background-color: var(--background2);}
.sub3_2 .semiwidegallery .left { width: 55% }
.sub3_2 .semiwidegallery .left .imgwrap { width: 100%; padding-bottom: 80% }
.sub3_2 .semiwidegallery .right {  position: relative;width: 45%; }
.sub3_2 .semiwidegallery .right .imgwrap { width: 100%; padding-bottom: 40% }
.sub3_2 .semiwidegallery .right .imgwrap img { transform: scale(1.15); }
.sub3_2 .semiwidegallery  .txtwrap { 
  padding: clamp(10px, 6vw, 100px);padding-right: 20px;
  background-color: #fff;
  letter-spacing: -1px;font-size:0.9rem;
}
.sub3_2 .semiwidegallery h4 { position: absolute; left:0;bottom:-13px;font-size: max(5.7vw,2.5rem);letter-spacing: -1px; }
.sub3_2 .con2 { background:url(../img/logo_back01.png) no-repeat left bottom var(--background2); }
.sub3_2 .con4 .gallerylist  .imgwrap { padding-bottom:60%;  }
.sub3_2 .con2 .tb_d2 { padding-bottom: 20px;text-align: center; }
.sub3_2 .con2 .tb_d2  strong { color: var(--subcolor_g)}
.sub3_2 .con2 .tb_d2 .mark::before {
  content: "";display: block;
  position: absolute;top: 0;left: 50%;transform: translate(-50%, -60%);
  width: 54px;height: 54px;background-color: #fff;border-radius: 50%;
}
.sub3_2 .con2 .tb_d2 .mark::after {
  content: "";display: block;
  position: absolute;top: 0;left: 50%;transform: translate(-50%, -60%);
  width: 26px;height: 26px;background:url(../img/common/chk.png) no-repeat center center / contain;
}
.sub3_2 .con2 .tb_d2 .col > div { padding: 2em;border-bottom: 1px dotted var(--subcolor_g)}
.sub3_2 .con2 .tb_d2 .col > div:last-child { border-bottom: none;}
.sub3_2 .con2 .tb_d2 .col > div.th { 
  position: relative;right: 0px;top: 0px;width:100%;max-width:100%;
  border-top: 2px solid var(--subcolor_g);border-bottom: 2px solid var(--subcolor_g);
  font-family: 'Nanum Myeongjo', serif; font-weight: 700;font-size: 1.3rem;padding: 1.5em 0;
}
.sub3_2 .con2 .tb_d2 .left { background-color: var(--background);  }
.sub3_2 .con2 .tb_d2 .left .th { color: var(--subcolor_g) }
.sub3_2 .con2 .tb_d2 .right { background-color: #fff;  }
.sub3_2 .con2 .tb_d2 .right .th { background-color: var(--subcolor_g);color: #fff; }
.sub3_2 .winside { padding:0 20px; }

.sub3_3 .con1 { padding-top: 30px; }

.sub3_4 .con1 { padding-top: 30px;background: url(../img/sub3/sub3_4_img01_1.png)no-repeat center top / 1400px auto ; position: relative; background-color: #eef0f3;height:100vh; min-height: 800px; }
.sub3_4 .con1 .imgwrap { padding-bottom: 60%; }
.sub3_4 .con1 .imgwrap::after { 
  content:"";
  position:absolute;bottom:0;left:0;z-index: 0;
  display: block;
  width: 30%;height:1px;padding-bottom: 30%;
  background: url(../img/logo_back02.png) no-repeat center center / contain; 
}
.sub3_4 .con1 .txtwrap { 
  justify-content: center;
  position: absolute; left: 50%; transform: translateX(-50%);bottom: calc(60px + 5vw);
  max-width: 800px;width:100%;padding:0 20px;
  text-align: center; }
.sub3_4 .con1 .scrolltab {
  position: absolute; left: 50%; transform: translateX(-50%);bottom: 0;
  width: 90%; max-width: 860px;padding-top: 30px;
  background-color: #ffffff;
}
.sub3_4 .con1 .scrolltab ul { gap: 10%;}
.sub3_4 .con1 .scrolltab a {
  display: block;
  height: 50px; padding: 0 20px 0 10px;border-bottom: 1px solid var(--default);transition: 0.3s}
.sub3_4 .con1 .scrolltab a::before {
  content: "";display: inline-block;width: 20px; height: 15px;
  background: url(../img/common/chk_g.png) no-repeat center center / contain; opacity: 0.5;
  margin-right: 20px;transition: 0.3s;
}
.sub3_4 .con1 .scrolltab a:hover {border-bottom-color:var(--subcolor_g); color:var(--subcolor_g) }
.sub3_4 .con1 .scrolltab a:hover::before { background-image: url(../img/common/chk.png);opacity: 1}
.sub3_4 .after { font-size: 1rem;}
.sub3_4 .roundbox .gallerylist2 .column3 .col { width: calc((100% - 60px) /3) }
.sub3_4 .gallerylist.con2_2 { border-bottom:none; }
.sub3_4 .gallerylist.con2_2 .col { width: calc((100% - 60px)/3 );border-bottom: none}
.sub3_4 .gallerylist.con2_2 .imgbox1 { margin-bottom: 20px; }
.sub3_4 .gallerylist.con2_2 .imgbox2 { display:flex;flex-wrap:wrap;gap:1px;margin-bottom: 20px; }
.sub3_4 .con3_2 .imgwrap { width:calc((100% - 30px)/2);padding-bottom: calc((100% - 30px)/2 * 0.75); }
.gallerylist2 .column3 .imgwrap { width:calc((100% - 15px)/3);padding-bottom: calc((100% - 15px)/3 * 0.8); }
.gallerylist2 .column2 .imgwrap { width:calc((100% - 10px)/2);padding-bottom: calc((100% - 10px)/2 *0.7) }
.sub3_4 .column6 .imgwrap {  width: calc((100% - 50px)/6);padding-bottom: calc((100% - 50px)/6 * 0.7) }
.sub3_4 .con5_2 .txt{width:100%}
.sub3_4 .con5_2 .txt2 { width: 100%;margin-top: 30px; text-align: center;  }
.sub3_4  .roundbox .conttit_wrap {padding-bottom: 30px !important;}
.sub3_4 .con5 .con5_1.gallerylist2 {padding: 0 50px;}

.sub3_5 .list2 .after{ font-size:1.25rem; }

.sub3_6 .semiwidegallery .titwrap { width: 100%; }
.sub3_6 .con2 .list2 .imgwrap { padding-bottom: 120%; }
.sub3_6 .con2 .list2 .col50 .imgwrap { padding-bottom: 60%; }
.sub3_6 .con3 .txt2 { 
  padding-top: 30px;
  font-size: 1.5rem;
  text-align: center;letter-spacing: 0;
  color: var(--subcolor_g); }

.sub3_8 .con1 { margin-top: 200px }
.sub3_8 .con1 .semiwidegallery.cust3 .col { transform: translateY(-5vw);}
.sub3_8 .con1 .txtwrap{ 
  justify-content: center;
  position: absolute;bottom:-5vw;left: 50%;transform: translateX(-50%);
  width: 85%;margin: auto;
  background-color: var(--background2); 
}
.sub3_8 .con2 { position: relative; }
.sub3_8 .con2::before,.sub3_8 .con2::after {
    content: ""; z-index:-1;
    position: absolute;left: 50%;top:50%;transform: translate(-50%, -50%);
    display: block;width:60vw;height:60vw; 
    border-radius: 50%;
    border:1px solid var(--subcolor_g2);
    opacity: 0.3;
  }
.sub3_8 .con2::after { width: 30vw; height: 30vw; }
.sub3_8 .con2 .content { gap: min(200px,12vw);padding-top: 100px; }

.sub3_9 .semiwidegallery.cust3 .col { padding-top: 100px;transform: translateY(0);}
.sub3_9 .semiwidegallery.cust3 .txt { font-family: 'Nanum Myeongjo', serif;font-weight: 700;font-size: 1.1rem; line-height: 1.5em; }

.sub3_9 .roundbox .conttit_wrap { padding-bottom: 100px; }
.sub3_9 .roundbox .conttit_wrap .left { width: min(370px,23%) }
.sub3_9 .roundbox .conttit_wrap .left img { width: min(100%,230px);}
.sub3_9 .con2  .roundbox .conttit_wrap .right { width: 70%; padding-left: 5% }
.sub3_9 .roundbox .conttit_wrap .right img { width: min(100%,200px);}
.sub3_9 .roundbox .conttit_wrap .right .tit {width:100%;padding: 1em 0; }
.sub3_9 .roundbox .conttit_wrap .tittxt{
  font-family: 'Nanum Myeongjo', serif; font-weight: 700;font-size: 1.1rem;line-height: 1.5em;}
.sub3_9 .roundbox .gallerylist .list .txtwrap {
    padding-top: 0px;
}
.sub3_9 .con4 .conttit_wrap .tit { margin-bottom: 20px; }
.sub3_9 .list .col { padding: 30px !important; }
.sub3_9 .txt1 { margin-bottom: 10px;  }
.sub3_9 .txt2 { letter-spacing: -2px;  }


/**** sub4 ****/
.sub4_1 .con0 { position: relative; }
.sub4_1 .con0 .txtwrap { 
  justify-content: center;
  width: 38%;height: 100%; padding: 30px 5%;
  background:url(../img/logo_back03.png) center bottom / 110% var(--background);
  transform: translateY(10%);
 }
 .sub4_1 .con0 .txtwrap .outline { 
    width: 100%;padding:0 7%;
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
 }
.sub4_1 .con0 .txtwrap .imgwrap { padding-bottom: 70%; }
.sub4_1 .con0 .txtwrap .txt p{ 
  width: 90%;max-width: 380px; margin: auto;
  font-size: 1rem;font-family: 'Nanum Myeongjo', serif; font-weight:400;line-height: 1.3em;
}
.sub4_1 .con0 .txtwrap .txt p strong { font-weight: 700; }
.sub4_1 .con0 .txtwrap .txt2 p{
  width: 90%;max-width: 380px;margin: auto;
  font-family: "HarlowDuoSerif-regular";font-size: 0.8rem;
  letter-spacing: 0;
}
.sub4_1 .con1 { position: relative;}
.sub4_1 .con1 .background { 
  position: absolute;top: 505px;left:0;
  z-index: -1;
  width: 100%;height: calc(100% - 505px)  ;
  background-color: var(--primary2_trans10); 
}
.sub4_1 .con1 .banner3 .col { width: calc((100% - 60px) / 3);  }
.sub4_1 .con1 .banner3 .pcont .txt { 
  max-width: 370px;margin: auto; 
  font-family: "Pretendard-Light";
  line-height: 1.3em; 
}
.sub4_1 .con1 .banner3 .pcont .img1 { 
  width:max(30%, 150px);margin: auto;
}
.sub4_1 .con1 .banner3 .img .col { 
  width: calc((100% - 30px )/3);margin: 0 5px;
  border: 1px solid #cccccc
}
.sub4_1 .con1 .titwrap_mid h6::after { 
  content: "";display: block;
  width: 60px; height: 1px; background-color: var(--primary2);
  margin: 30px auto;
  }
.sub4_1 .con1_2 { width: 90%;margin: auto; }
.sub4_1 .con1_2 .col { position: relative;padding: 50px 2%; }
.sub4_1 .con1_2 .col::after {
  content: "";
  position: absolute;right:0;top:0;
  display: block;
  width: 1px; height: 100%;
  background: linear-gradient(to bottom,  rgba(99,61,140,0) 0%,rgba(99,61,140,1) 23%,rgba(99,61,140,1) 52%,rgba(99,61,140,1) 79%,rgba(99,61,140,0) 100%);
  opacity: 0.5;
}
.sub4_1 .con1_2 .col:last-child:after { display: none; }
.sub4_1 .con1_2 .col:nth-child(3), .sub4_1 .con1_2 .col:nth-child(5) {
  width: 23%
}
.sub4_1 .con1_2 .col:nth-child(1), .sub4_1 .con1_2 .col:nth-child(2),
.sub4_1 .con1_2 .col:nth-child(4) {
  width: 18%;
}
.sub4_1 .con1_2 .col h3 { margin-bottom: 20px;font-size: 1.1rem;font-weight: 700; }
.sub4_1 .con1_2 .col .txt { font-family: "Pretendard-Light";word-spacing: 3px;line-height: 1.5em;.;}

.sub4_1 .con2 .leveltab { position: relative;text-align: center; }
.sub4_1 .con2 .leveltab::after { 
  content: "";
  position: absolute;bottom:0;left:0;
  display: block;
  width: 100%; height: 1px;
  background: linear-gradient(to right,  rgba(99,61,140,0) 0%,rgba(99,61,140,1) 23%,rgba(99,61,140,1) 52%,rgba(99,61,140,1) 79%,rgba(99,61,140,0) 100%);
  opacity: 0.5;
 }
 .sub4_1 .con2 .leveltab .level { 
  position: relative;
  padding-bottom: 20px;
  font-size:1.2rem;color: var(--primary);
 }
 .sub4_1 .con2 .leveltab .level::after {
  content: "";
  position:absolute;left:50%;bottom:-5px;transform: translateX(-50%);
  display: block;width: 10px; height: 10px;border-radius: 50%;
  background-color: var(--primary2);
 }

 .sub4_1 .con2  .banner3 .col {
    width: calc((100% - 90px) / 4);
    border: 1px solid var(--primary2)}
 .sub4_1 .con2  .banner3 .col .ptit { 
    font-size: 1.1rem;
    font-family: "Pretendard-Regular";font-weight: 400;
 }
 .sub4_1 .con2  .banner3 .col .pcont{ 
    display: flex; align-items: center;justify-content: center;
    height: auto;min-height: 115px;
    padding: 10px 20px; border-bottom: none;
    text-align: center;
  }
  .sub4_1 .con3 .content { position: relative;}
  .sub4_1 .con3 .background2 {
    position: absolute;z-index: -1;
    width: 100%; height: 50%;
  }
  .sub4_1 .con3 .background2 > div { 
    height: 100%;padding-top: max(5vw, 50px);
    background: url(../img/back_pattern.png) no-repeat center center / cover;
    border-top: 1px solid var(--primary2);
    text-align: center;
    font-size:1.5rem;;color: var(--primary2);
   }
  .sub4_1 .con3 .background2 .left {
    width: calc(100% /4 * 3 - 7%);
  }
  .sub4_1 .con3 .background2 .right {
    width: calc(100% /4);
    background-image: url(../img/back_pattern2.png)
  }
  .sub4_1 .con3 .content_in { 
    padding-top: max(10vw, 70px); 
    text-align: center;
  }
  .sub4_1 .con3 .content_in .img {
    position: relative;z-index: 1;
   padding: 0 20px; margin: auto;
  }
  .sub4_1 .con3 .content_in .tit {
    margin-bottom: 20px;
    font-family: 'Nanum Myeongjo', serif; font-weight:700;
    font-size: 1.25rem;color: var(--primary)
    
  }
  .sub4_1 .con3 .content_in .txtwrap {
    /* height: min(460px, auto); */
    min-height: 460px;max-width: 280px;transform: translateY(-30px);
    margin: auto;
    padding: 70px 20px;
    background-color: #ffffff;
  }
  .sub4_1 .con3 .content_in .txtwrap .img2 {
    margin-top: 20px;
    padding: 0 10px;
  }
  .sub4_1 .con3 .content_in .txtwrap .img2 img { 
    width: calc((100% - 10px)/2); 
  }
  .sub4_1 .con3 .content_in .txtwrap .txt { 
    font-family: "Pretendard-Light"; letter-spacing: -1px;
    line-height: 1.5em;
  }
  .sub4_1 .imgwrap .after { bottom: auto; top: 20px; }
  .sub4_1 .con5 h6:after { margin-bottom: none; }
  .sub4_1 .con5 .content_1 { 
    padding: 5vw;
    background: url(../img/logo_back04.png) no-repeat left top / auto 100% var(--primary2_trans10) ; }
  .sub4_1 .con5 .content_1 .txt { text-align: center;padding-top: 20px; }
  .sub4_1 .con5 .content_2 .col { margin-bottom: 10px; }
  .sub4_1 .con6 {
    padding-bottom: 100px;
    background: url(../img/back_img.jpg) no-repeat center center / cover;
  }
  .sub4_1 .con6 .col {
    padding: 50px 5%;
    border-right: 1px solid var(--primary2_trans);
  }
  .sub4_1 .con6 .col > div {
    width: 100%;text-align: center;
  }
  .sub4_1 .con6 .img {
     display: flex;align-items: center;
     margin-bottom: 3vw;min-height: 150px; }
  .sub4_1 .con6 .img1 { max-width: 150px; }
  .sub4_1 .con6 .img2 { max-width: 250px; }
  .sub4_1 .con6 .img img {margin: auto; height: auto;}
  .sub4_1 .con6 .txttit { 
    padding: 20px 0;
    color: var(--primary2);font-size: 1.5rem; }
  .sub4_1 .con6 .col:last-child {
    border-right: none;
  }


/**** sub5 ****/
.sub5_1 .hr_green { margin-bottom: 30px !important}
.sub5_1 .midtit { 
  padding: 30px;margin: 0 50px;
  background-color: var(--background2);
  border-top: 1px solid var(--subcolor_g);
  font-family: "Pretendard-SemiBold";
  text-align: center;color: var(--subcolor_g);
}
.sub5_1 .midtit ~.txt{  }
.sub5_1 .gallerylist .list2 .col_2 {position: relative; width: calc((100% - 60px) / 3 * 2 + 30px); }
.sub5_1 .gallerylist .list2 .col_2 .imgwrap { width:50%;padding-bottom: 29% !important}
.sub5_1 .gallerylist .list3 .col { position:relative;padding: 0 30px;margin: 30px 0; }
.sub5_1 .gallerylist .list3 .col:after {
  content:"";
  position: absolute;left:30px; bottom: -30px;
  display: block;width:calc(100% - 60px); height:1px;
  background-color: var(--subcolor_g);  }
.sub5_1 .gallerylist .list3.gapborder2 .col:nth-child(2n) {
  border-right: none;
}
.sub5_1 .gallerylist .list3.gapborder2 .col:nth-last-child(1):after,
.sub5_1 .gallerylist .list3.gapborder2 .col:nth-last-child(2):after {
  display: none;
}
.sub5_1 .gallerylist .list .col { padding-top:0;padding-bottom:0px;margin-bottom:30px; } 
.sub5_1 .gallerylist .result { border:1px solid var(--subcolor_g);transform: translateY(-2px);  }
.sub5_1 .gallerylist .result img{ border:2px solid var(--subcolor_y);  }
.sub5_1 .gallerylist .whitesquare_line { display: inline-block;padding: 0 3px;margin-left: 10px; }
.sub5_1 .gallerylist .play { 
  position: absolute;left: 50%;top:30%;transform: translateX(-50%);
  width:20%;height:1px;padding-bottom:15%;
  background:url(../img/common/play.png) no-repeat center center / contain;
 }
 .sub5_1 .bannerlist .col { padding-bottom: 30px; }
 .sub5_1 .bannerlist .img {
  display: flex;justify-content: center;
  width: 100%;height:max(100px,10vw);margin-bottom: 30px}
 .sub5_1 .bannerlist .img img {
    position: relative;
    width: max(100px, 40%);height:auto;object-fit:contain;}
.sub5_1 .banner2 .col {
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}
 .sub5_1 .banner2 .imgbox { 
    display: flex;justify-content:center;align-items: flex-end;
    position: relative;z-index: 2;width: 100%;height:7vw; 
    margin-bottom: 20px
  }
 .sub5_1 .banner2 .txt { position: relative;z-index: 2; }
 .sub5_1 .banner2 .txtback { 
   position: absolute;top: 50%;left:50%; transform: translate(-50%,-50%);
   z-index: 0;
   padding-bottom:0;
   font-family: "HarlowDuoScript-Regular";font-size: 5vw;color:var(--background2) }
 .sub5_1 .banner2 .imgbox img { width:60px; height: auto;object-fit: contain;  }
 .sub5_1 .con1 .semiwidegallery.cust4 .left.col {
  width: 40%;
  padding: 0 0 0 10%;
}
.sub5_1 .con1 .semiwidegallery.cust4 .txt { 
  font-family: 'Nanum Myeongjo', serif; font-weight: 700;font-size:1.15rem;line-height: 1.5em;
 }
.sub5_1 .con1 .semiwidegallery.cust4 .imgwrap img { 
  height: 100%;transform: translateY(0px);
 }
 .sub5_1 .con1_1 { position: relative;z-index: 1; }
 .sub5_1 .con1_2 { position: relative;z-index: 0; }
.sub5_1 .con1_2 .imgwrap{ padding-bottom: clamp(540px,33%,33%);transform: translateY(-20%);}
.sub5_1 .con1_2 .imgwrap img { min-width: 1100px; }
.sub5_1 .con1_2 .txtwrap { 
  position: absolute;bottom: 50%; right: 15%;
  width: 100%; max-width: 430px;
  text-align: right;
  font-family: 'Nanum Myeongjo', serif; font-weight: 700;font-size:1.15rem;line-height: 1.5em;;
}
.sub5_1 .list3 {margin: 0 20px}
.sub5_1 .con2 .column5 .col { padding-top: 30px;padding-bottom: 30px; }

 
/**** sub6 ****/
.sub6_1 .con1_1 {position: relative;z-index: 1;}
.sub6_1 .con1_1 .left {
  width: 40%;
  padding: 5vw 5vw 5vw 20px;
  background-color: var(--primary2);
  text-align: right;
  color: #ffffff;
}
.sub6_1 .con1_1 .right {
  position: absolute;right:0; top: 2vw;
  width: calc(60% + 2vw);
  padding-bottom: 15% }
.sub6_1 .con1_2 {position: relative; }
.sub6_1 .con1_2 .imgwrap {padding-bottom: max(45%,400px);overflow: hidden; }
.sub6_1 .con1_2 .mark { 
  max-width: 50%;width: 100%;height: 80%;
  left:-10%;top:0;right:auto;z-index:1;
 }
 .sub6_1 .con1_2 .txtwrap {
  position: absolute;left: 10%; top: 30%;z-index:2
 }
 .sub6_1 .con1_2 .txtwrap h3 { 
    margin-bottom: 30px;
    font-size: 1.5rem;font-weight: 700; 
  }
.sub6_1 .con2_1 .img { max-width: 800px; margin: 50px auto;}
.sub6_1 .list > .col { padding: 0 50px; }
.sub6_1 .column3 .col.col50 { width: 66.6%; }
.sub6_1 .column4 .col.col50 { width: 50%; }
.sub6_1 .lista .col.nohalf .imgwrap{ padding-bottom: 0 !important;height: 100%}

.sub6_2 .con0 { position: relative; }
.sub6_2 .con0 .txtwrap { 
  width: max(38%, 500px);height: auto; padding: 3% 5%;
  background:url(../img/logo_back05.png)no-repeat right -100% center / 70% var(--background);
  transform: translateY(10%);
 }
 .sub6_2 .con0 .txtwrap .outline { 
    width: 100%;padding:0 7%;
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
 }
 .sub6_2 .fullimgwrap .txtwrap { top: auto; bottom:20%; }
 .sub6_2 .list > .col { padding: 0 50px; }
 .sub6_2 .con1_1 {
    padding: 30px; background-color: var(--background2); 
  }
.sub6_2 .con1_1 .col { 
  position: relative;
  border-top: 2px solid var(--subcolor_g);
  text-align: center;
  padding-top: 50px;
}
.sub6_2 .con1_1 .col .numberic {
  padding-top: 10px;
}
.sub6_2 .con1_1 .col .imgwrap { margin-bottom: 20px; }
.sub6_2 .con1_1 .col .txt { 
  display: flex;flex-wrap: wrap;
  align-items: center;justify-content: center;
  min-height: 55px; 
  text-align: center;font-family: "Pretendard-Light";
}
.sub6_2 .con1_1 .col .txt p { width: 100%; }
.sub6_2 .con1_1 .col:nth-child(1) .numberic { background-color: #4be2c9;}
.sub6_2 .con1_1 .col:nth-child(2) .numberic { background-color: #42dcc3;}
.sub6_2 .con1_1 .col:nth-child(3) .numberic { background-color: #52ccb7;}
.sub6_2 .con1_1 .col:nth-child(4) .numberic { background-color: #39b7a2;}
.sub6_2 .con1_1 .col:nth-child(5) .numberic { background-color: #54b2a3;}
.sub6_2 .con1_1 .col:nth-child(6) .numberic { background-color: #318e7f;}
.sub6_2 .con1_1 .col:nth-child(1) { border-top-color: #4be2c9;}
.sub6_2 .con1_1 .col:nth-child(2) { border-top-color: #42dcc3;}
.sub6_2 .con1_1 .col:nth-child(3) { border-top-color: #52ccb7;}
.sub6_2 .con1_1 .col:nth-child(4) { border-top-color: #39b7a2;}
.sub6_2 .con1_1 .col:nth-child(5) { border-top-color: #54b2a3;}
.sub6_2 .con1_1 .col:nth-child(6) { border-top-color: #318e7f;}
.sub6_2 .con2 .after { text-shadow: 0 0 10px #000000; }

.sub6_3 .maintitwrap h5 span { display: block; }

.sub6_4 .fullimgwrap { position: relative; }
.sub6_4 .fullimgwrap .txtwrap {
  justify-content: flex-end;
  left: auto;right: max(calc((100% - 1600px)/2),20px);top: 0;
  width: 40%;height: 100%;padding: 5% 0;
  text-align: right;

}
.sub6_4 .fullimgwrap .txtwrap .outline {
  width: 100%;
  padding: 0 7%;margin-bottom: 30px;
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
}
.sub6_4 .fullimgwrap .txtwrap .outline {max-width: 400px;}
.sub6_4 .fullimgwrap .txtwrap .imgwrap {
  padding-bottom: 70%;
}
.sub6_4 .fullimgwrap .txtwrap .titwrap span { display: block;line-height: 1.3em;}
.sub6_4 .fullimgwrap .txtwrap .txt { letter-spacing: -2px; }
.sub6_4 .con1 .content_1 .col {
  text-align: center;padding-top: 0; padding-bottom: 0; 
}
.sub6_4 .con1 .content_1 .col .tit {
  display: flex;align-items: center;justify-content: center;
  max-width: 105px;height: 60px;margin: auto;margin-bottom: 20px;
  background: url(../img/circle_d.png) no-repeat center center / contain;
  text-align: center;
  font-family: 'Lato';font-style: italic; font-weight:400;color: var(--subcolor_g)
}
.sub6_4 .con1 .content_1 .col .tittxt {
  padding-bottom: 20px;margin-bottom: 20px;
  border-bottom: 1px solid var(--subcolor_g);
  font-family: "Pretendard-Light";
  font-size: 1.5rem;color: var(--subcolor_g);
  height: 4em;
}
.sub6_4 .con1 .content_2 { padding: 50px; }
.sub6_4 .con1 .content_2_in {padding-top: 50px;}
.sub6_4 .con1 .content_2 .gap { gap: 50px;}
.sub6_4 .con1 .content_2 .col { 
  position: relative; padding: 0 0px;
  width: calc((100% - 150px)/4);
}
.sub6_4 .con1 .content_2 .col .txt{ 
  display: flex;align-items: center;justify-content: center;
  text-align: center;
  height: 190px;width:100%;padding-top: 10%;
  background-color: var(--background);
  border-top: 1px solid var(--subcolor_g);
  border-bottom: 1px solid var(--subcolor_g);
}
.sub6_4 .con1 .content_2 .col .txt p {max-width: 120px;}
.sub6_4 .con1 .content_2 .col .iconbox {
  position: absolute;
  left: 50%;top:0;transform: translate(-50%, -50%);
  width: 110px;height:110px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: auto;
}
.sub6_4 .con1 .content_2 .col .iconbox img {
  max-width: 55px;height: auto;object-fit: none;
}
.sub6_4 .con2.fullimgwrap .txtwrap {
  justify-content: flex-start;
  left:  max(calc((100% - 1600px)/2),20px);
  right: auto;
  top: 0;
  width: 40%;
  max-width: 430px;
  height: 100%;
  padding: 5% 0;
  text-align: left;
}
.sub6_5 .con2 { position: relative; }
.sub6_5 .content {
  position: absolute;left:0;top:0;
  width:100%;height:100%;
}
.sub6_5 .content_in {
  width:min(90%,1500px);height:calc(100% - 10vw);
  background-color: #ffffff90;
}
.sub6_5 .content_in .img { 
  max-width: 500px;
}
.sub6_5 .content_in h3{font-weight: 700;}
.sub6_5 .content_in .txt { width: 100%; }
.sub6_5 .con2 .fullimg {min-height: 730px;}


/***  sub7 ***/
.boardpage .board_tit .in { 
  padding: 3vw;
}
.boardpage .board_tit h4 { font-size: 2.75rem;;}
.boardpage .board_tit .txtwrap {padding-left: 5vw;}
.boardpage .board_tit .txt {width:100%;}

.boardpage h6 {
  font-family: "Pretendard-Light";
  font-size: 1.5rem;
  color: var(--primary);
}
.boardpage h6.square span { 
  padding: 3px 10px;
  border: 1px solid var(--primary);
  font-size: 1rem; 
}
.rule > div { max-width: 1100px;margin: auto; }