/* text */
.subpage .maintitwrap { margin-bottom: 100px; }
.subpage h2 { text-align:center;font-family: Pretendard-Medium;font-size: 2.25rem; }
.subpage h4 { font-family: "HarlowDuoSerif-regular";
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1em;;
  color: var(--subcolor_g)
}
.subpage h3 { 
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1em;
}

.txt18 {
  font-size: 0.9rem;line-height: 1.7em;;
}
.txt20 {
  font-size:1rem;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  line-height: 1.5em;
}
.fsize20 {  font-size:1rem;}

.subcolor_g { color: var(--subcolor_g) !important; }
.subcolor_y { color: var(--subcolor_y) !important; }

.centertxt { text-align: center; }
.strong { color: var(--strong); }

/* imgwrap - 콘텐츠에서 사이즈 개별지정 */
img { width: 100%; height: 100%; object-fit: cover; }
.imgwrap { position: relative; width:100%;height:1px;padding-bottom:100%;}
.imgwrap img { position: absolute; }
.imgbox { gap: 20px; }
.imgbox > div { flex:1 1 auto;max-height: 220px;border:1px solid #cccccc }

/* button */


/* shape */
.circlewrap { display:block;position:relative;width:100%;height:1px;padding-bottom:100%;border:1px solid var(--subcolor_g);border-radius: 50%; }
.circlewrap .intxt { position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%);}
.greensquare_line {display:block;padding: 0.2em 0.6em; border:1px solid var(--subcolor_g); font-family: "Pretendard-Light";font-size:0.9rem;color: var(--subcolor_g); }
.greensquare_solid {display:block;padding: 0.2em 0.6em; background: var(--subcolor_g);font-family: "Pretendard-Light";font-size:0.9rem; color: #ffffff; }
.roundsquare {display: block;padding: 0.3em 1em; border: 1px solid #ffffff; border-radius: 20px; font-family: "Pretendard-Light";font-size: 0.8rem; text-align: center;}
.pursquare_solid { display:inline-block;padding: 0.2em 0.4em; background-color: var(--primary);color: #fff;font-size: 11px; }

/*  table */
.tb_d1 {
  width: 100%;max-width: 680px;
  border-collapse: collapse;
  border-top: 1px solid var(--lightfont);
  border-bottom: 1px solid var(--lightfont);
  text-align: center;
}
.tb_d1 td, .tb_d1 th {
  width: 50%;
  padding: 10px 0px;
  height: 60px;
  vertical-align: middle;
  border-bottom: 1px solid var(--graytrans);
}
.tb_d1 tr:last-child td { border-bottom: none;}


/*  layout */
.column4, .column3n, .column3,.column2 {
   display: flex; flex-wrap:wrap; justify-content: space-between;
 }
.column2 .col { width: 50%; }
.column3 .col{ width: 33.33%; }
.column3n .col{ width: 30%; }
.column4 .col{ width: 25%; }
.col100{ width: 100%; }

.flexgallery_column2 { display: flex;flex-wrap: wrap; gap: 40px }
.flexgallery_column2 > div { width: calc( (100% - 40px)/2 );overflow: hidden; }
.flexgallery_column2 > div img { transform: scale(1.1);transition: 0.3s; }
.flexgallery_column2 > div:hover img { transform: scale(1); }

.flex { display: flex; }
.flexwrap { display: flex;flex-wrap: wrap; }
.flexspace { display: flex;justify-content: space-between; }
.flex_hcenter { display: flex;flex-wrap: wrap;align-content: center;justify-content: center; }
.flex_vcenter { display: flex;flex-wrap: wrap;align-content: center; }
.flex_right { display: flex;flex-wrap: wrap; justify-content: flex-end; }

.gap { gap: 20px;}

.mbcon { margin-bottom: var(--normalmargin); } /* 100 */
.mbcon50 { margin-bottom: var(--margin50); }
.mb30{margin-bottom: 30px;}
.p100 { padding: 100px; }
.pbt100 { padding-top: 100px; padding-bottom: 100px;}
/* .pb20w { padding-bottom: 20vw; }
.pb10w { padding-bottom: 10vw; }
.pb3w { padding-bottom: 3vw; }
.pb5w { padding-bottom: 6vw; }
.pt10w { padding-top: 10vw; }
.pt5w { padding-top: 7vw; }
.pt3w { padding-top: 3vw; } */




/* body { padding-bottom: 353px } */
.subpage {padding-top: 150px;}
.background { background-color: var(--background); }
.backgroundsub { background-color: var(--subcolor_g); }

/********** ui **************/

/* 이미지픽스  */
.imgwrap_full { 
  position: relative;
  width: 100vw; height: 70vh;min-height: 380px;overflow: hidden;}
.imgwrap_full .fixed { 
  position: fixed;top: 50%;left: 0;z-index: 1;transform: translateY(-50%);
  width:100vw;height: 100vh; }
  @media all and (orientation: Portrait) {
    .imgwrap_full .fixed { position: absolute; }
  }
.imgwrap_full .fixed.fixon { position: fixed; }
.imgwrap_full img{ width: 100%;height: 100%; object-fit: cover;}
.imgwrap_full video { width: 100%;height: 100%;object-fit: cover;}
.imgwrap_full .btn-area {
  position: absolute;top: 50%; left:50%;
  transform: translate(-50%, -50%);z-index: 9;
}

/* 패럴렉스  */
.paral-area { position: relative;width:100vw; height:80vh;min-height:600px;overflow: hidden;}
.paral { transition: background 1s;}
.paral.no { 
  transition: none !important;
  background-position: center !important;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.paral-area .abs { 
  position: absolute; width: 100%; height: 100%; 
  top: 0; left: 0; color: #ffffff;font-size: 1.5vw; line-height: 2em;
  z-index: 2;
}
.paral-area .paral {
  background-position:center;
  background-size:120%;
  position:relative;
  width:100%;
  height:100%;
  margin:0 auto;	
}	

/* scroll style scrollme - 부모요소에 scrollme 추가해야 함   */
.animateme {position: relative;transition: 0.8s; }

/*  애니메이션  */
/* 기본형 */
.ani.trans { animation: transparency 3s forwards; }

/* rolling  */
.rollingwrap { position: relative; }
 .animated-title {
   position: relative;
   width: 100%;
   max-width: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
   height: 1em;
  }
 .animated-title .track {
   position: absolute;bottom: 0vw;
   white-space: nowrap;
   will-change: transform;
 }
 @keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* typing */
/*  content typing  */
.content_typing{
  position: relative;
  display: block;
  width: 0%;
  height: 110%;
  overflow: hidden;
  white-space: nowrap;
}
.content_typing:before{
  position: absolute;
  left:0px;top:0;
  -webkit-text-fill-color: var(--font); 
  overflow: hidden;
}
.scrollon.active .content_typing {
  animation: typing 2.5s steps(60) forwards;
}
.content_typing.ani {
  animation: typing 2.5s steps(60) forwards;
}
.line:nth-child(2) .content_typing.ani {
  animation-delay: 2s;
}

.righttype_wrap {position: relative;white-space: nowrap;}
.righttyping{
  position: relative;
  display: block;
  float:right;
  width: 0%;
  height: 100%;
  overflow: hidden;}
.righttyping:before{
  position: absolute;
  right:0px;top:0;
  -webkit-text-fill-color: var(--font); 
  overflow: hidden;
}
.scrollon.active .righttyping{
  animation: typing 2.5s steps(60) forwards;
}
.relax:before{ content: 'Relax Your Heart'; }
.raf:before { content: 'Raffine';  -webkit-text-fill-color: #ffffff; }

.paral { transition: background 1s;}


/* 스크롤형*/
.scrollon { opacity: 0.1;transition: all 2s; }
.scrollon.solid { opacity: 1;}
.scrolloriginal { transform: translate(0,0);}
.scrollright100 { transform: translate(-100px, 0); }
.scrollright200 { transform: translate(-200px, 0); }
.scrollrightfull { transform: translate(-100%, 0); }
.scrollleft100 { transform: translate(100px, 0); }
.scrollleft200 { transform: translate(200px, 0); }

.scrollup50 { transform: translate(0, 50px); }
.scrollup100 { transform: translate(0, 100px); }
.scrollup130 { transform: translate(0, 130px); }
.scrollup150 { transform: translate(0, 150px); }
.scrolldown50 { transform: translate(0, -50px); }
.scrolldown100 { transform: translate(0, -100px); }
.scrolldown150 { transform: translate(0, -150px); }
.scrollscale { transform: scale(0.5); }

.scrollon.active {opacity: 1 !important;transform: translate(0, 0) scale(1) !important;}
.delay1_1 { transition-delay: 0.1s;}
.delay1_2 { transition-delay: 0.2s;}
.delay1_3 { transition-delay: 0.3s;}
.delay1_4 { transition-delay: 0.4s;}
.delay1_5 { transition-delay: 0.5s;}
.delay1_6 { transition-delay: 0.6s;}
.delay1_7 { transition-delay: 0.7s;}
.delay1_8 { transition-delay: 0.8s;}
.delay1_9 { transition-delay: 0.9s;}
.delay1_10 { transition-delay: 1.0s;}
.delay1_11 { transition-delay: 1.1s;}

@keyframes typing{
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes opa {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes transparency {
  from { opacity: 0; }
  to { opacity: 1;}
}


/*  slick 공통 기본 */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  display: none;
  height: auto;
  min-height: 1px;
}
.slick-initialized .slick-slide {
  display: block;
}

/* slick 커스텀   */
.slidewrap {position: relative;}
.slidewrap  .slick-slide div { 
  width: var(--w100v); height: 100vh;min-height:500px;
  overflow: hidden;
}
.slidewrap  .slick-slide img { 
  width: 100vw; height: 100%;
  object-fit: cover;
}
.slidewrap .pcvdo { 
  position:relative;padding:56.25% 0 0 0;
  height: 100vh;
  width: 300vw;
  left: 50%;
  transform: translateX(-50%);
}
.slidewrap .pcvdo::after {
  content: '';display: block;width: 100%; height: 100%;
  position: absolute;left: 0; top: 0;
}
.slidewrap .replace, .sticky-box {display: none;}
.slidewrap .slick-arrow {
  position: absolute; left: calc(50% + 100px);top:calc(50vh + 200px);
  z-index: 9999;
  width:20px; height:15px;
  background-repeat: no-repeat;background-position: center;background-size: cover;
  font-size: 0;color: transparent;
}
.slidewrap  .slick-arrow.slick-next {background-image: url(../img/common/arr_top_w.png);transform: translateX(50px);}
.slidewrap  .slick-arrow.slick-prev {background-image: url(../img/common/arr_bottom_w.png);}

.slidewrap .wpc { position: relative;z-index:9999}
.slidewrap .titwrap { 
  position: absolute;top:50vh;right:0;
  width: 650px; height: 150px;
  color: #ffffff; }
.slidewrap .subtit { 
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif; font-weight:100;font-size:1rem;letter-spacing: 2px; }
.slidewrap .logo_font { font-size: 3.125rem;letter-spacing: 2px; }


/* dot animation */
.slidewrap .slick-dots { 
  position: absolute;
  bottom: calc(5vw + 30px);
  left: 50%;
  width:50%;
  transform: translateX(-50%);
  z-index: 1000; }
.slidewrap .slick-dots li {
  position: relative;
  width: 100%;height: 2px;
  background-color: #ffffff20; display: none;}
.slidewrap .slick-dots li button{
  position: absolute;top: 0;left: 0;
  font-size: 0;width: 0;height: 100%; background-color: #ffffff70;}
.slidewrap .slick-dots li.slick-active { display: block;}
.slidewrap .slick-dots li.slick-active button {
  animation: slickdot 4000ms linear forwards; 
}

/* 슬라이드 커스텀 */
.slide_d1 .slick-arrow {width: 30px; height: 30px;font-size: 0;
  color: var(--font); z-index: 1000; position: absolute;border: 1px solid var(--subcolor_g);border-radius: 50%;}
.slide_d1 .slick-arrow.slick-prev::after {
  content:''; display: block;width: 30px; height: 10px; 
  position: absolute; right: -20px; top: 50%;z-index:1001;
  transform: translateY(-50%);
  background-repeat:no-repeat;background-position: left 0 center;
  transition: 0.5s;}
.slide_d1 .slick-arrow.slick-prev:hover::after  { right: -5px; width: 50px; }
.slide_d1 .slick-arrow.slick-next::after { content:''; display: block;width: 30px; height: 10px; 
  position: absolute; left: -20px; top: 50%;transform: translateY(-50%);
  background-repeat:no-repeat;background-position: right 0 center;transition: 0.5s;}
.slide_d1 .slick-arrow.slick-next:hover::after  { left: -5px; width: 50px; } 
.slide_d1 .slick-dots li  { display: none; }
.slide_d1 .slick-dots li.slick-active  { display: block; }
.slide_d1 .slick-dots { position: absolute;  font-family: 'Lato', sans-serif;font-weight: 400;font-size: 13px; }

.lazyno .slick-arrow { bottom:-95px;border-color: var(--subcolor_g);background-color: #ffffff; }
.lazyno .slick-arrow.slick-prev {left: calc(50% - 120px);}
.lazyno .slick-arrow.slick-next {left: calc(50% + 90px);} 
.lazyno .slick-arrow.slick-prev::after{ background-image: url(../img/common/arr_mid_prev.png); }
.lazyno .slick-arrow.slick-next::after{ background-image: url(../img/common/arr_mid_next.png); }
.lazyno .slick-dots { left: 50%;bottom:-90px;transform: translateX(-50%);color:var(--subcolor) }





@keyframes slickdot {
  from { width: 0; }
  to { width: 100%; }
}

/* subpage slide design */
.subpage .slidewrap .titwrap { top : calc(50vh + 50px); }
/*
.subpage .slidewrap .slick-arrow { top:calc(50vh + 250px); } */



@media all and (max-width: 1500px ) { 
  .slidewrap .slick-arrow {left: calc(100% - 650px);}

  /* text */
  .subpage h2 { font-size: 6.25vw; }
  .subpage .h_sub { font-size: 1.5625rem; }

}

@media screen and (max-width: 1024px) {
  .subpage .h_sub { font-size: 1.2rem;margin-bottom:10px; }
  .p100 { padding: 50px 0px; }
}

@media screen and (max-width: 860px) { 
  .slidewrap .titwrap { width: 480px;}
  .slidewrap .logo_font { font-size: 2.1875rem;}
  .slidewrap .slick-arrow { left: calc(100% - 480px); }
  .prologueview_area .titwrap { top: 10%;}

  .subpage h2 { font-size: 10vw; }
  .pbt100 { padding-top: 50px;padding-bottom: 50px; }
}

/*
@media screen and (max-width: 768px) and (orientation: landscape) {
  .slidewrap .titwrap { display: none; }
  .slidewrap .slick-slide div { min-height: 100vh}

}
*/
@media all and (max-width: 768px ) {
  .slide_d1 .slick-dots { bottom: -30px}
  .column2, .column3 { display: block; }
  .column2 .col, .column3 .col, .column3n .col{ width: 100%; }
  .column3 .col_2 { width: 100%; }
  .column3 .col_2 .titwrap { position: relative; }

  .subpage h2 {font-size: 1.5rem;}
  .txt20 { font-size: 1.1rem; }
  .imgbox { gap: 10px;}

}
/* @media all and (orientation: Portrait) {
  .imgwrap_full .fixed { width:100vw; height: 100vh; }
} */