


@media all and ( max-width: 1600px ) {
  .philo_area .leftbox {padding: 140px 0 140px 11.25vw; }
  .repect .left {height: 66vw; padding:120px 6vw;}
  .sub1_3 .left { width: 40%;padding-left: 20px; }
  .sub1_3 .right { width: 50%;padding-right: 20px;background: url(../img/sub1/sub1_3_img02.jpg) no-repeat right  center / cover  }
}


@media all and (max-width: 1200px) {
  .subpage h4 {font-size:10vw;}
  .lnb ul { flex-wrap:wrap;height:auto; padding: 20px 0}


  .philo_area .leftbox {padding: 100px 0 100px 8vw; }

  .sub1_2 .con1 .leftbox {
    padding-left: 0; min-height: 100%;
    transform: translateY(100%)
  }
  .sub1_2 .con1 .content .subtitwrap,
  .sub1_2 .con1 .rightbox { padding: 50px 0; }
  .sub1_2 .con1 .rightbox .tit { margin-bottom: 30px; }
  .sub1_2 .con1 .rightbox .bot {font-size: 11px;letter-spacing: 0px;line-height: 1.5em;}

  .volunteer .left {--normalmargin: 50px;padding-right: clamp(20px,5vw,200px);}
  .volunteer .right {padding: 50px 0}
  .volunteer h4 {margin-bottom: 0.5em;}
  .thesis .flex {gap: 50px;}
}


@media all and (max-width: 1024px) {
  .sub1_3 .con2 dl {font-size: 16px;}
}


@media all and (max-width: 860px) {

  .sub1_2 .con1 .wpc { padding:0; }
  .sub1_2 .wpc > .column2 { display: block; }
  .sub1_2 .con1 .content {
    background-size: 150% auto;
    background-position: left top -15%;
  }
  .sub1_2 .con1 .leftbox {
    padding-left: 0; min-height: 65vw;
    transform: translateY(0)
  }
  .sub1_2 .con1 .rightbox {
    background-color: #fff;
    width: 100%;padding-left:40px;padding-right: 40px;}
  .sub1_2 .con1 .rightbox .mid .circlewrap {
    font-size: clamp(1rem ,3vw, 20px);
  }
  .academic .flex { display: flex;flex-wrap: wrap;justify-content: center;}
  .academic .backgroundsub { padding: 50px 20px !important; }
  .thesis .flex{display: block;}

  .sub1_3 .flexspace { display: block;}
  .sub1_3 .flexspace .left, .sub1_3 .flexspace .right {width: 100%;}
  .sub1_3 .flexspace .left { padding: 50px 20px;  }
  .sub1_3 .map_area { float:none; width: calc(100% - 40px);margin: auto; }

  .imgbox > div { min-width: 100px;max-width: calc( (100% - 60px)/2 );}
  
}


@media all and (max-width:768px) {
  .subpage { padding-top: 50px; }
  .subpage .maintitwrap {margin-bottom: 50px;}
  .maintop { height: auto;}
  .lnbtit { padding-bottom:30px; }

  .subtitwrap h3{ 
    font-size: 1rem;letter-spacing: -1px; }
  .subtitwrap h4 {
    font-size: 18vw; 
  }
  .subtitwrap h4 span { 
    font-weight: 400;font-size: 16vw;  }
   
  .philo_area .leftbox { padding: 50px 20px;
  }
  .philo_area .imgwrap { width: 80%; height: 66vw; margin: auto; }
  .philo_area .txt.nobr_mo p:nth-child(1) { display: block; }
  .repect .left {height: 60vh;min-height: 400px;padding: 50px 20px; }
  .repect .linetxt { margin-bottom: 50px;}
  .repect .right .titback { font-size: 18vw }
  .repect .right .tit { font-size: 15vw; }
  .repect .right .subtit { font-size: 5vw }
  .repect .right .titwrap {margin-bottom: 50px;}
  .repect .right .txt { font-size: 1rem;line-height: 1.5em; }
  .repect .subtitwrap { text-align: left; }

  .sub1_2 .con1 .content {background-position: left top -5%;}
.sub1_2 .con1 .leftbox { min-height: 90vw;}
.sub1_2 .con1 .content .subtitwrap {flex: 0 0 120px;}
  .sub1_2 .con1 .content .subtitwrap p.smtxt { font-size: 1rem; }
  .sub1_2 .con1 .content .subtitwrap p.txt {font-size: 2rem;}
  .sub1_2 .con1 .rightbox .bot { margin-bottom: 30px;}
  
  .sub1_2 section.mbcon50 { margin-bottom: 0 !important; }
  .volunteer .left { padding: 50px 0px; }
  .volunteer .left ._img1, .volunteer .left ._img2 { padding-bottom: 50%; }
  .volunteer .right {padding: 0 0 50px 0;}
  .academic .keyword { gap:5px;font-size: 11px; }
  .rollingcustom_img span { width: 130px;}
  .thesis .right {height: 200px;}
    
  .sub1_3 h3{margin-bottom: 30px;}
  .sub1_3 .con2 dt,.sub1_3 .con2 dd { width:100%;font-size: 0.9rem; }
  .sub1_3 .con2 dt { margin-bottom: 0px;}

  .time_tb th, .time_tb td { padding: 10px 5px;font-size: 11px;}
  .time_tb .pursquare_solid { padding: 3px 2px; font-size: 9px;margin-top: 3px;}
  
  .imgbox > div {min-width: auto; max-width:auto; }
}


@media all and (max-width:540px) { 

  .maintop .wpc { padding:0; }
  .lnbtit { padding-top: 100px;}
  .lnb ul { font-size:0.7rem }
  .sub1_2 .con1 .rightbox { padding:20px; }
  .circlewrap .intxt { font-size: 0.8rem; }
  .sub1_2 .con1 .rightbox .certif{ gap:0; }

}